<!-- gmapping slam using 1 rob  ariaClientDriverNodesim5 works for both simulator and robot, run server demo 3 on robot-->
<launch>
	<param name="robot_description" textfile="$(find ariaclientdriver)/urdf/pioneer1_new.urdf" />
	<group ns="pioneer1">
    		<param name="tf_prefix" value="pioneer1" />
		<node name="ariaClientDriverNode" pkg="ariaclientdriver" type="ariaClientDriverNode" args="-host 10.0.125.32 -p 7272" output="screen"/>
		<!--node name="ariaClientDriverNodesim" pkg="ariaClientDriver" type="ariaClientDriverNodesim5" args="-host 10.0.0.21" /-->
		<node pkg="laser_filters" type="scan_to_scan_filter_chain"
      		name="laser_filter">
    		<rosparam command="load" file="$(find ariaclientdriver)/my_laser_config.yaml" />
    		<!--remap from="scan" to="/pioneer1/scan" /-->
		<!--remap from="scan_filtered" to="pioneer1/scan_filtered"-->
  		</node>

	</group>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ariaclientdriver)/rviz_conf/cartographer+seekur.rviz" />
	
</launch>

<!-- rosrun map_server map_saver -f map_name -->
