<!-- gmapping slam using 1 rob  ariaClientDriverNodesim5 works for both simulator and robot, run server demo 3 on robot-->
<launch>
	<include file="$(find ariaclientdriver)/launch/seekur.launch" />
	<node name="static_tf_pub" pkg="tf" type="static_transform_publisher" args=" 0.43 0 0.2175 0 0 0 /pioneer1/base_link /laser_link 20" />
	
</launch>

<!-- rosrun map_server map_saver -f map_name -->
